#(project
  (#(meta
     (#(name lcli)
      #(description "An LFE Command Line Options & Tool Builder")
      #(version "0.1.0-dev")
      #(keywords ("LFE" "Lisp" "Library" "Tools" "Command Line"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "oubiwann/lcli")))))
   #(app
     (#(mod #(lcli ()))))))

