{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
   {lfe, ".*", {git, "https://github.com/rvirding/lfe.git", {tag, "v0.10.1"}}},
   {getopt, ".*", {git, "https://github.com/oubiwann/getopt-erl.git", {tag, "v0.8.3"}}},
   {logjam, ".*", {git, "git://github.com/lfex/logjam.git", {tag, "0.3.0"}}}
  ]}.

{plugins, [
   {lodox, ".*", {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.5"}}},
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.2"}}},
   {'lfe-version', ".*", {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.2.1"}}},
   {'lfe-clean', ".*", {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.1.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{lodox,
 [{apps,
   [{lcli,
     [{'source-uri',
       "https://github.com/oubiwann/lcli/blob/{version}/{filepath}#L{line}"},
      {'output-path', "docs/current"}]}]}
  ]}.
